/* Scrollbar - x & y Start */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0973b5; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #09649d; 
}
/* Scrollbar - x & y End */

/* Tree View Start */
.caretn{
    cursor: pointer;
    user-select: none;
}

.caretn::before{
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caretn-down::before{
    transform: rotate(90deg);  
}

.nestedn{
    display: none !important;
}

.activen{
    display: block !important;
}
/* Tree View End */

/* Tree View ul-li style Start */
.tree-scroll {
    height: 291px;
    overflow: auto;
    /*overflow-x: auto;
    overflow-y: auto;*/
}
#MyTree ul{
    list-style-type: none !important;
}

.nestedn ul{
    list-style-type: none !important;
}

.nestedn li{
    margin-left: -30px;
    margin-top: 5px;
}
/* Tree View ul-li style End */

.account-pages {
    margin: 7% auto !important;
}

#preloader {
    background-color: #1D6FB8 !important;
}

#preloader #status .spinner>div {
    background-color: #F29200 !important;
}

.side-menu {
    width: 250px;
    top: 70px;
}

#sidebar-menu>ul>li>a.active {
    color: #1D6FB8 !important;
}

#sidebar-menu>ul>li>a.active i {
    color: #F29200 !important;
}

#sidebar-menu ul ul li.active a {
    color: #1D6FB8 !important;
}

.icnsty {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    cursor: pointer;
}

.field-icon {
    float: right;
    margin-right: 12px;
    margin-top: -24px;
    position: relative;
    z-index: 2;
}

.cursor-pointer {
    cursor: pointer;
}

.first-capital {
    text-transform: capitalize;
}

.cursorpointer input, .cursorpointer label {
    cursor: pointer;
}

.line-height {
    line-height: 1.6;
}

/* Tree View Start */
.caretn{
    cursor: pointer;
    user-select: none;
}

.caretn::before{
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caretn-down::before{
    transform: rotate(90deg);  
}

.nestedn{
    display: none !important;
}

.activen{
    display: block !important;
}
/* Tree View End */

/* Tree View ul-li style Start */
#MyTree ul{
    list-style-type: none !important;
}

.nestedn ul{
    list-style-type: none !important;
}
/* Tree View ul-li style End */

.topbar .topbar-left {
    height: 80px;
}

.button-menu-mobile {
    background-color: #ffffff !important;
    color: #000 !important;
    line-height: 78px;
}

.notification-list .nav-link {
    color: #000 !important;
    line-height: 80px;
}

.content-page>.content {
    margin-top: 80px;
}

.topbar .navbar-custom {
    background-color: #ffffff !important;
}

.nav-user img {
    height: 40px !important;
    width: 40px !important;
    border: 2px solid black !important;
    padding: 2px !important;
}

.nav-user:before {
    background: rgb(0 0 0 / 20%) !important;
}

.card-header {
    background-color: rgba(0,0,0,.01) !important;
}

.card-footer {
    background-color: rgba(0,0,0,.01) !important;
}

.required {
    color: red;
}

.form-control {
    color: #495057 !important;
}

.radio-inline {
    margin-left: 5px;
    margin-right: 5px;
}

.select2-error .error {
    position: absolute !important;
    margin: 33px 0px 0px 0px !important;
}

.select2-container {
    display: block !important;
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 32px;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.datepicker {
    z-index: 999 !important;
}

.footer {
    padding: 20px 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pading-sty {
    padding: 0.20rem 0.7rem;
}

.padding-3 {
    padding: 3px;
}

.img-sty {
    width: 80px;
    height: 80px;
}

.width-300 {
    width: 300px;
}

@media (max-width: 767px) {
    .button-menu-mobile-topbar {
        line-height: 50px;
    }
}